body {
  margin: 0;
  font-family: sans-serif;
}

#game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}



#game-canvas {
  position: absolute;
  border: 1px solid #333;
  flex-shrink: 0;
  user-select: none;
}


#menu {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  border: 1px solid #333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}


#controls {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hidden {
  display: none;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
}

.color-options-container {
  display: flex;
  gap: 5px;
}

.color-option {
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: pointer;
}

.cell-color-option,
.bg-color-option {
  display: none;
  position: absolute;
}

/* this is the css for the pop up */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: aqua;
  width: 600px;
  max-width: 80%;
  text-align: center;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-head {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.modal-head .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-head .close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

/* Column and row added to insert inside .modal for the rules on left
and examples on the right */
.row {
  display: flex;
}

.column{
  flex: 50%;
  padding: 10px;
  height: 400px;
}

/* Styling link to further instructions */
a:visited{
  color: black;
}

a:hover {
  color: blue;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


